<h1>Players#index</h1>
<p>Find me in app/views/players/index.html.erb</p>



<h2>  Players List </h2>

<ul>
    <% @players.each do |player| %>
     <li> <%= link_to player.name, player %> -----Position---> <%=player.position%>    -----Team-----> <%= link_to player.team.name, player.team%> </li>
     <br>
    <%end%>
</ul>